h1{
     color: red;
     margin: 30px;
    }

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: blue;
}
p,h2{
    text-align: center;
}